* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif !important;
}

:root {
    --color1: #0fc4e8;
    --color2: #0195be;
    --color3: #e6cda8;
    --color4: #f07e13;
    --color5: #481800;
}

body {
    background-color: var(--color3);
}

h1 {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    color: var(--color4);
    text-shadow: 2px 2px 4px var(--color5);
}

.nav-index {
    background-color: var(--color3) !important;
}

a:hover {
    color: var(--color4) !important;
    
}
.btn-index {
    border: var(--color4);
    background-color: var(--color4);
    color: aliceblue;
}

.img-footer {
    width: 2rem;
    border-radius: 0.5rem;
}
.img-footer:hover {
    transform: scale(0.8);
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color4);
    height: 6rem;
}
.p-footer:hover {
    text-decoration-line: underline;
}

