:root{
	
	--main-color:#d3ad7f;
	--black:#13131a;
	--bg:#010103;
	--border: .5px solid rgba(255,255,255,.3);

	--width: 300px;
	--padding: 10px;
	--bgcolor: rgb(52,52,52);
	--hovercolor:rgb(23,23,23);
	--width-collapsed: 50px;
}

body{
			margin: 0;
			font-family: sans-serif;
		
		}
	.layout{
		min-height: 100vh;
		/* font-family: Arial, Helvetica, sans-serif; */
		font-size: 18px;
		padding:0;
		margin:0;
		/* margin-left: var(--width-collapsed); */
		
	}

	/* .layout-expanded{
		margin-left:var(--width);

	} */
	.contact{
		width: 100%;
		display: flex;
		justify-content: center;
	}

/* formulario */

	.contacto-container{
		height: 500px;
		padding: 5px;
		width:92%;
		display: flex;
		align-items: center;
	}

	
	.contact .contacto-container{	
		display: flex;
		background: var(--black);
		flex-grow: wrap;
		gap:1rem;
	}
	
	.contact .contacto-container .map{
		height: 100%;
		width: 80%;
		object-fit: cover;
		box-sizing: border-box;
	}
	
	
	
	.contact .contacto-container form{
		padding: 3.5rem 2rem;
		text-align:center;
	}
	
	
	.ctac-titulo{
		font-family:'Roboto', sans-serif;
		text-transform: uppercase;
		font-size: 2rem;
		color: #fff;
	}
	
	.contact .contacto-container form .inputBox{
		display: flex;
		align-items: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background:var(--bg);
		border: var(--border);
		
	}
	
	
	.contact .contacto-container form .inputBox span{
		color: #fff;
		font-size: 1rem;
		padding-left:.8rem;
	}
	
	
	.contact .contacto-container form .inputBox input, .ctextarea{
		
		width: 100%;
		padding: 0.5rem;
		border: none;
		font-size: 1.1rem;
		color: #fff;
		text-transform: none;
		background: none;
		outline: none;
		
		
	} 

	.ctextarea{
		resize: none;
		height: 5rem;
	}

	.contac-info{
		display: flex;
		align-items: center;
		justify-content: center	;
	}

	.info-gato
	{
		height: 20rem;
	}


	.info-local{
		margin-left: 2rem;
		display: flex;
		width: 40%;
		height: 16rem;
		flex-direction: column;
		justify-content: space-between;
		background: #999;
		padding: 1.5rem;
		
	}